.page{
    height: 100vh;
    display: flex;
}


@media (max-width: 480px) {
    .content-page-desactive{
        display: none;
    }
}

.content-page{
    padding-left: 50px;
    padding-top: 30px;
    width: 85%;
}

.title{
    border-bottom: solid 1px gray;
    width: 100%;
    margin-bottom: 40px;
}

.content-page-desactive{
    padding-left: 50px;
    padding-top: 30px;
    width: 70%;
}

.pro-sidebar{
    color: white !important;
}

.pro-icon-wrapper{
    background-color: red !important;
}

.pro-sidebar-inner{
    background-color: #FF1C1C !important;
}

.body{
    overflow-y: auto;
    height: 75vh;
}

.footer{
    display: flex;
}

.card{
    text-align: center !important;
    justify-content: center !important;
}

img.principal{
    width: 30%;
}

.img{
    justify-content: center;
    text-align: center;
}
